{% extends 'forside/base.html' %}
{% block content %}
<head>
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Start</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      Alfabetet<span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Indhold</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Alfabetet
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'engelska' %}"><h5>A</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskb' %}"><h5>B</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskc' %}"><h5>C</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskd' %}"><h5>D</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelske' %}"><h5>E</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskf' %}"><h5>F</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskg' %}"><h5>G</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskh' %}"><h5>H</h5></a></li>    
              <li><a class="dropdown-item" href="{% url 'engelski' %}"><h5>I</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskj' %}"><h5>J</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskk' %}"><h5>K</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskl' %}"><h5>L</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskm' %}"><h5>M</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskn' %}"><h5>N</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelsko' %}"><h5>O</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskp' %}"><h5>P</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskq' %}"><h5>Q</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskr' %}"><h5>R</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelsks' %}"><h5>S</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskt' %}"><h5>T</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelsku' %}"><h5>U</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskv' %}"><h5>V</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskw' %}"><h5>W</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskx' %}"><h5>X</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelsky' %}"><h5>Y</h5></a></li>
              <li><a class="dropdown-item" href="{% url 'engelskz' %}"><h5>Z</h5></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</nav>
<h1></h1>
</head>
<body>
{% block ord %}

{% endblock ord %}
</body>
{% endblock content %}