{% extends 'engelsk/base.html' %}
{% block ord %}
<br>
<h1><font color=blue>R - r</font></h1>
<h4>R er det attende (18.) bogstav i alfabetet. Det er den fjortende konsonant</h4>
<br>
<div class="row">
{% for engr in engr %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{engr.image.url}}" width="100" height="150"/><br><h3><b>{{engr.engord}}</b></h3><br>{{engr.engbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>
{% endblock ord %}