{% extends 'engelsk/base.html' %}
{% block ord %}
<br>
<h1><font color=blue>B - b</font></h1>
<h4>B er det andet (2.) bogstav i alfabetet. Det er den første konsonant</h4>
<br>
<div class="row">
{% for engb in engb %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{engb.image.url}}" width="100" height="150"/><br><h3><b>{{engb.ord}}</b></h3><br>{{engb.beskrivelse}}</li>
  
</ul>
</div>
{% endfor %}
</div>
{% endblock ord %}