{% extends 'engelsk/base.html' %}
{% block ord %}
<br>
<h1><font color=blue>X - x</font></h1>
<h4>X er det firogtyvende (24.) bogstav i alfabetet. Det er den nittend konsonant</h4>
<br>
<div class="row">
{% for engx in engx %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{engx.image.url}}" width="100" height="150"/><br><h3><b>{{engx.engord}}</b></h3><br>{{engx.engbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>
{% endblock ord %}