{% extends 'engelsk/base.html' %}
{% block ord %}
<br>
<h1><font color=red> A - a</font></h1>
<h4>A er det første (1.) bogstav i alfabetet. Det er også den første vokal</h4>
<br>

<div class="row">
    {% for enga in enga %}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <ul class="list-group list-group-horizontal">
    <li class="list-group-item"><img class="rounded" src="{{enga.image.url}}" width="100" height="150"/><br><h3><b>{{enga.ord}}</b></h3><br>{{enga.beskrivelse}} </li>
  
    </ul>
    </div>
    {% endfor %}
</div>

{% endblock ord %}