{% extends 'engelsk/base.html' %}
{% block ord %}
<h1><u><i><b><font color=red>Velkommen</font><font color = green> til de</font><font color = orange> engelske ord</font></b></u></i></h1>
<h3>På engelsk bruges Y både som vokal og konsonant.<br>
    Siden kan bruges på mange måder.<br>
    - til de helt små kan man øve udtale af ordene<br>
    - til de lidt større kan man give lidt viden<br>
    - til skole børnene kan man øve stave måde.<br>
    - til at finde ord inden for forskellige grupper, <br>  det kan være frugt, pirat/sørøver m.m.<br>
    Ordene er delt op efter alfabetet, men er ikke i alfabetisk række følge i grupperne</h3>
{% endblock ord %}