{% extends 'leg/base.html' %}
{% block content %}


  
<body data-bs-spy="scroll" data-bs-target="#navbar-example">

<h2>Hvad forestiller dette billede?<br>Skriv ordet i boksen og tjek om det er rigtigt.</h2>
<br>

    
<div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">A</a>
            <a class="nav-link" href="#item-2">B</a>
            <a class="nav-link" href="#item-3">C</a>
            <a class="nav-link" href="#item-4">D</a>
            <a class="nav-link" href="#item-5">E</a>
            <a class="nav-link" href="#item-6">F</a>
            <a class="nav-link" href="#item-6">G</a>
            <a class="nav-link" href="#item-6">H</a>
            <a class="nav-link" href="#item-6">I</a>
            <a class="nav-link" href="#item-6">J</a>
            <a class="nav-link" href="#item-6">K</a>
            <a class="nav-link" href="#item-6">L</a>
            <a class="nav-link" href="#item-6">M</a>
            <a class="nav-link" href="#item-6">N</a>
            <a class="nav-link" href="#item-6">O</a>
            <a class="nav-link" href="#item-6">P</a>
            <a class="nav-link" href="#item-6">Q</a>
            <a class="nav-link" href="#item-6">R</a>
            <a class="nav-link" href="#item-6">S</a>
            <a class="nav-link" href="#item-6">T</a>
            <a class="nav-link" href="#item-6">U</a>
            <a class="nav-link" href="#item-6">V</a>
            <a class="nav-link" href="#item-6">W</a>
            <a class="nav-link" href="#item-6">X</a>
            <a class="nav-link" href="#item-6">Y</a>
            <a class="nav-link" href="#item-6">Z</a>
            <a class="nav-link" href="#item-6">Æ</a>
            <a class="nav-link" href="#item-6">Ø</a>
            <a class="nav-link" href="#item-6">Å</a>

        </nav>
        </nav>

    </div>
    
  
</body>
{% block letter %}
{% endblock letter %}
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      
    <div id="item-1">
        <h4>A</h4>
        <img src="{{ dana.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <!--<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="a_id" value="{{ a.id }}">
            <button type="submit">Tjek</button>
        </form>-->

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dana">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dana">
        <input type="hidden" name="a_id" value="{{ dana.id }}">
        <button type="submit">Tjek</button>
        </form1>

        <!--{% if aktiv_model == 'dana' and aktiv_id == dana.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} -->
        {% if resultat and aktiv_id == obj.id %}
            <p>{{ resultat }}</p>
        {% endif %}
        <hr>
        </div>

      
      <div id="item-2">
        <h4>B</h4>
        <img src="{{ danb.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <!--<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="b_id" value="{{ b.id }}">
    
            <button type="submit">Tjek</button>
        </form>-->

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danb">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danb">
        <input type="hidden" name="danb_id" value="{{ danb.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danb' and aktiv_id == danb.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-3">
        <h4>C</h4>
        <img src="{{ danc.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <!--<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="c_id" value="{{ c.id }}">
    
            <button type="submit">Tjek</button>
        </form>-->

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danc">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danc">
        <input type="hidden" name="c_id" value="{{ danc.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danc' and aktiv_id == danc.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-4">
        <h4>D</h4>
        <img src="{{ dand.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <!--<form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
            <input type="hidden" name="d_id" value="{{ d.id }}">
    
            <button type="submit">Tjek</button>
        </form>-->

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dand">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dand">
        <input type="hidden" name="dand_id" value="{{ dand.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'dand' and aktiv_id == dand.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-5">
        <h4>E</h4>
        <img src="{{ dane.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dane">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dane">
        <input type="hidden" name="e_id" value="{{ dane.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'dane' and aktiv_id == dane.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        
        <hr>
      </div>

      <div id="item-6">
        <h4>F</h4>
        <img src="{{ danf.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danf">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danf">
        <input type="hidden" name="danf_id" value="{{ danf.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danf' and aktiv_id == danf.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-7">
        <h4>G</h4>
        <img src="{{ dang.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dang">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dang">
        <input type="hidden" name="dang_id" value="{{ dang.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'dang' and aktiv_id == dang.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-8">
        <h4>H</h4>
        <img src="{{ danh.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danh">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danh">
        <input type="hidden" name="danh_id" value="{{ danh.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danh' and aktiv_id == danh.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-9">
        <h4>I</h4>
        <img src="{{ dani.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dani">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dani">
        <input type="hidden" name="dani_id" value="{{ dani.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'dani' and aktiv_id == dani.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-10">
        <h4>J</h4>
        <img src="{{ danj.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danj">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danj">
        <input type="hidden" name="danj_id" value="{{ danj.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danj' and aktiv_id == danj.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-11">
        <h4>K</h4>
        <img src="{{ dank.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-dank">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-dank">
        <input type="hidden" name="danj_id" value="{{ dank.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'dank' and aktiv_id == dank.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>

      <div id="item-12">
        <h4>L</h4>
        <img src="{{ danl.image.url }}" alt="Billede" style="max-width: 300px;"><br>

        <form1 method="post">
        {% csrf_token %}
        <label for="gæt-danl">Hvad forestiller billedet?</label>
        <input type="text" name="gæt" id="gæt-danl">
        <input type="hidden" name="danj_id" value="{{ danl.id }}">
        <button type="submit">Tjek</button>
        </form1>

        {% if resultat and aktiv_model == 'danl' and aktiv_id == danl.id %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %}
         {% if resultat %}
            <p><strong>{{ resultat }}</strong></p>
        {% endif %} 
        

        <hr>
      </div>
      
    </div>
  </div>
</div>




{% endblock content %}