{% extends "leg/base.html" %}
{% block content %}

<h4>E</h4>

{% if enge %}
    <img src="{{ enge.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-enge">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-enge">
    <input type="hidden" name="alfabet_id" value="{{ enge.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gues" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "guesf" %}">Næste</a>

{% endblock content %}