{% extends 'leg/base.html' %}
{% block content %}
<h1><font color=green><u><b>Stav ordet</b></u></font></h1>
<br>
<h3>Vælg det bogstav, hvor du vil stave ordet</h3>
 <nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">
        
<a class="nav-link" href="{% url 'guesa' %}"><font color=red><h1>A</h1></font></a>   <a class="nav-link" href="{% url 'gætb' %}"><font color=red><h1> B</h1></font></a><a class="nav-link" href="{% url 'gætc' %}"><font color=red><h1> C</h1></font></a><a class="nav-link" href="{% url 'gætd' %}"><font color=red><h1>D</h1></font></a>
        
 </div>
</nav>
 <nav class="navbar bg-body-tertiary">
 <div class="container">
    <a class="navbar-brand" href="/">
        
    <a class="nav-link" href="{% url 'gæte' %}"><font color=blue><h1>E</h1></font></a><a class="nav-link" href="{% url 'gætf' %}"><font color=blue><h1>F</h1><font></a>   <a class="nav-link" href="{% url 'gætg' %}"><font color=blue><h1>G</h1></font></a>
      
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">
    <a class="nav-link" href="{% url 'gæth' %}"><font color=green><h1> H</h1></font></a><a class="nav-link" href="{% url 'gæti' %}"><font color=green><h1>I</h1></font></a><a class="nav-link" href="{% url 'gætj' %}"><font color=green><h1>J</h1></font></a><a class="nav-link" href="{% url 'gætk' %}"><font color=green><h1>K</h1></font></a>
        
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">
        
    <a class="nav-link" href="{% url 'gætl' %}"><font color=orange><h1>L</h1></font></a> <a class="nav-link" href="{% url 'gætm' %}"><font color=orange><h1>M</h1></font></a>   <a class="nav-link" href="{% url 'gætn' %}"><font color=orange><h1>N</h1></font></a>  
       
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">

<a class="nav-link" href="{% url 'gæto' %}"><h1> O</h1></a><a class="nav-link" href="{% url 'gætp' %}"><h1>P</h1></a><a class="nav-link" href={% url 'gætq' %}""><h1>Q</h1></a><a class="nav-link" href="{% url 'gætr' %}"><h1>R</h1></a>
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">
        
    <a class="nav-link" href="{% url 'gæts' %}"><font color=purple><h1>S</h1></font></a> <a class="nav-link" href="{% url 'gætt' %}"><font color=purple><h1>T</h1></font></a>   <a class="nav-link" href="{% url 'gætu' %}"><font color=purple><h1>U</h1></font></a>  
        
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">
        
<a class="nav-link" href="{% url 'gætv' %}"><font color=yellow><h1> V</h1> </font></a><a class="nav-link" href="{% url 'gætw' %}"><font color=yellow><h1>W</h1></font></a><a class="nav-link" href="{% url 'gætx' %}"><font color=yellow><h1>X</h1></fon></a><a class="nav-link" href="{% url 'gæty' %}"><font color=yellow><h1>Y</h1></font></a>
       
</div>
</nav>
<nav class="navbar bg-body-tertiary">
<div class="container">
    <a class="navbar-brand" href="/">
       
    <a class="nav-link" href="{% url 'gætz' %}"> <font color=green><h1>Z</h1></font></a> <a class="nav-link" href="{% url 'gætæ' %}"><font color=green><h1>Æ</h1></font></a>   <a class="nav-link" href="{% url 'gætø' %}"><font color=green><h1>Ø</h1></font></a>  
</div>
</nav>
<nav class="navbar bg-body-tertiary">
    <div class="container">
    <a class="navbar-brand" href="/">
    <a class="nav-link" href="{% url 'gætå' %}"><font color=green><h1>Å</h1></font></a>         
 
    </div>
</nav>


{% endblock content %}