{% extends "leg/base.html" %}
{% block content %}

<h4>V</h4>

{% if danv %}
    <img src="{{ danv.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-danv">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-danv">
    <input type="hidden" name="alfabet_id" value="{{ danv.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gætw" %}">Næste</a>

{% endblock content %}