{% extends "leg/base.html" %}
{% block content %}

<h4>Æ</h4>

{% if danæ %}
    <img src="{{ danæ.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-danæ">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-danæ">
    <input type="hidden" name="alfabet_id" value="{{ danæ.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gætø" %}">Næste</a>

{% endblock content %}