{% extends "leg/base.html" %}
{% block content %}

<h4>Z</h4>

{% if danz %}
    <img src="{{ danz.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-danz">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-danz">
    <input type="hidden" name="alfabet_id" value="{{ danz.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gætæ" %}">Næste</a>

{% endblock content %}