{% extends "leg/base.html" %}
{% block content %}

<h4>H</h4>

{% if danh %}
    <img src="{{ danh.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-danh">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-danh">
    <input type="hidden" name="alfabet_id" value="{{ danh.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gæti" %}">Næste</a>

{% endblock content %}