{% extends "leg/base.html" %}
{% block content %}

<h4>I</h4>

{% if dani %}
    <img src="{{ dani.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-dani">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-dani">
    <input type="hidden" name="alfabet_id" value="{{ dani.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gætj" %}">Næste</a>

{% endblock content %}