{% extends "leg/base.html" %}
{% block content %}

<h4>R</h4>

{% if danr %}
    <img src="{{ danr.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-danr">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-danr">
    <input type="hidden" name="alfabet_id" value="{{ danr.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gæts" %}">Næste</a>

{% endblock content %}