{% extends "leg/base.html" %}
{% block content %}

<h4>E</h4>

{% if danb %}
    <img src="{{ dane.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-dane">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-dane">
    <input type="hidden" name="alfabet_id" value="{{ dane.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "gaet2" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "gætf" %}">Næste</a>

{% endblock content %}