{% extends "leg/base.html" %}
{% block content %}

<h4>L</h4>

{% if tysl %}
    <img src="{{ tysl.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-tysl">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-tysl">
    <input type="hidden" name="alfabet_id" value="{{ tysl.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "rad" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "radm" %}">Næste</a>


{% endblock content %}