{% extends "leg/base.html" %}
{% block content %}

<h4>T</h4>

{% if tyst %}
    <img src="{{ tyst.image.url }}" alt="Billede" style="max-width: 300px;"><br>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="gæt-tyst">Hvad forestiller billedet?</label>
    <input type="text" name="gæt" id="gæt-tyst">
    <input type="hidden" name="alfabet_id" value="{{ tyst.id }}">
    <button type="submit">Tjek</button>
</form>

{% if resultat %}
    <p><strong>{{ resultat }}</strong></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{% url "rad" %}">Tilbage</a>
<a class="btn btn-success" href="{% url "radu" %}">Næste</a>


{% endblock content %}