{% extends 'leg/base.html' %}
{% block letter %}
<h1><u><font color=blue>TILFØJ ORD OG BLLEDER</font></u></h1>
<h3>Her kan der tilføjes ekstra ord og billeder,<br>
    enten hvis man mangler et eller nogle til et emne.</h3>
    <br>
<h3><mark><font color=orange>HUSK IKKE AT TILFØJE BILLEDER AF PERSONER SOM IKKE SKAL PÅ NETTET.
    bl.a. egne børn.</font></mark></h3> <br>

<form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Tilføj...">
      </form>
{% endblock letter %}