{% extends 'dansk/base.html' %}
{% block letter %}

<h1><font color=red>O - o</font></h1>
<h4>O er det femtende (15.) bogstav i alfabetet. Det er den fjerde vokal</h4>
<br>
<div class="row">
{% for dano in dano %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{dano.image.url}}" width="100" height="150"/><br><h3><b>{{dano.danord}}</b></h3><br>{{dano.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}