{% extends 'dansk/base.html' %}
{% block letter %}

<h1><font color=red>Ø - ø</font></h1>
<h4>Ø er det 28. bogstav (28.) i alfabetet. Det er den ottende vokal</h4>
<br>
<div class="row">
{% for danø in danø %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{danø.image.url}}" width="100" height="150"/><br><h3><b>{{danø.danord}}</b></h3><br>{{danø.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}