{% extends 'dansk/base.html' %}
{% block letter %}

<h1><font color=blue>Z - z</font></h1>
<h4>Z er det seksogtyvende (26.) bogstav i alfabetet. Det er den tyvende</h4>
<h4>Z er kun brugt meget få gange til danske ord</h4>
<br>
<div class="row">
{% for danz in danz %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{danz.image.url}}" width="100" height="150"/><br><h3><b>{{danz.danord}}</b></h3><br>{{danz.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}