{% extends 'dansk/base.html' %}
{% block letter %}
<br>
<h1><font color=red> A - a</font></h1>
<h4>A er det første (1.) bogstav i alfabetet. Det er også den første vokal</h4>
<br>

<div class="row">
    {% for a in dana %}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <ul class="list-group list-group-horizontal">
    <li class="list-group-item"><img class="rounded" src="{{dana.image.url}}" width="100" height="150"/><br><h3><b>{{dana.danord}}</b></h3><br>{{dana.danbe}} </li>
  
    </ul>
    </div>
    {% endfor %}
</div>
{% endblock letter %}