{% extends 'dansk/base.html' %}
{% block letter %}
<br>
<h1><font color=red>Æ - æ</font></h1>
<h4>Æ er det syvogtyvende (27.) bogstav i alfabetet. Det er den syvende vokal</h4>
<br>
<div class="row">
{% for danae in danae %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{danae.image.url}}" width="100" height="150"/><br><h3><b>{{danae.danord}}</b></h3><br>{{danae.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}