{% extends 'dansk/base.html' %}
{% block letter %}

<h1><font color=blue>K - k</font></h1>
<h4>K er det elfte (11.) bogstav i alfabetet. Det er den ottende konsonant</h4>
<br>
<div class="row">
{% for dank in dank %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{dank.image.url}}" width="100" height="150"/><br><h3><b>{{dank.danord}}</b></h3><br>{{dank.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}