{% extends 'dansk/base.html' %}
{% block letter %}
<br>
<h1><font color=red>Å - å</font></h1>
<h4>Å er det niogtyvende (29.) bogstav i alfabetet. Det er den niende vokal</h4>
<br>
<div class="row">
{% for danå in danå %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{danå.image.url}}" width="100" height="150"/><br><h3><b>{{danå.danord}}</b></h3><br>{{danå.danbe}}</li>
  
</ul>
</div>
{% endfor %}
</div>

{% endblock letter %}