{% extends 'forside/base.html' %}
{% block content %}
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-danger p-4">
    <h4 class="text-body-emphasis h4">Alfabetet</h4>
    <a class="nav-link" href="{% url 'tyska' %}"><h5><font color=yellow>A</font></h5></a>
    <a class="nav-link" href="{% url 'tyskb' %}"><h5><font color=yellow>B</font></h5></a>
    <a class="nav-link" href="{% url 'tyskc' %}"><h5><font color=yellow>C</font></h5></a>
    <a class="nav-link" href="{% url 'tyskd' %}"><h5><font color=yellow>D</font></h5></a>
    <a class="nav-link" href="{% url 'tyske' %}"><h5><font color=yellow>E</font></h5></a>
    <a class="nav-link" href="{% url 'tyskf' %}"><h5><font color=yellow>F</font></h5></a>
    <a class="nav-link" href="{% url 'tyskg' %}"><h5><font color=yellow>G</font></h5></a>
    <a class="nav-link" href="{% url 'tyskh' %}"><h5><font color=yellow>H</font></h5></a>
    <a class="nav-link" href="{% url 'tyski' %}"><h5><font color=yellow>I</font></h5></a>
    <a class="nav-link" href="{% url 'tyskj' %}"><h5><font color=yellow>J</font></h5></a>
    <a class="nav-link" href="{% url 'tyskk' %}"><h5><font color=yellow>K</font></h5></a>
    <a class="nav-link" href="{% url 'tyskl' %}"><h5><font color=yellow>L</font></h5></a>
    <a class="nav-link" href="{% url 'tyskm' %}"><h5><font color=yellow>M</font></h5></a>
    <a class="nav-link" href="{% url 'tyskn' %}"><h5><font color=yellow>N</font></h5></a>
    <a class="nav-link" href="{% url 'tysko' %}"><h5><font color=yellow>O</font></h5></a>
    <a class="nav-link" href="{% url 'tyskp' %}"><h5><font color=yellow>P</font></h5></a>
    <a class="nav-link" href="{% url 'tyskq' %}"><h5><font color=yellow>Q</font></h5></a>
    <a class="nav-link" href="{% url 'tyskr' %}"><h5><font color=yellow>R</font></h5></a>
    <a class="nav-link" href="{% url 'tysks' %}"><h5><font color=yellow>S</font></h5></a>
    <a class="nav-link" href="{% url 'tyskt' %}"><h5><font color=yellow>T</font></h5></a>
    <a class="nav-link" href="{% url 'tysku' %}"><h5><font color=yellow>U</font></h5></a>
    <a class="nav-link" href="{% url 'tyskv' %}"><h5><font color=yellow>V</font></h5></a>
    <a class="nav-link" href="{% url 'tyskw' %}"><h5><font color=yellow>W</font></h5></a>
    <a class="nav-link" href="{% url 'tyskx' %}"><h5><font color=yellow>X</font></h5></a>
    <a class="nav-link" href="{% url 'tysky' %}"><h5><font color=yellow>Y</font></h5></a>
    <a class="nav-link" href="{% url 'tyskz' %}"><h5><font color=yellow>Z</font></h5></a>
    
    <span class="text-body-secondary"></span>
  </div>
</div>
<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>Indhold
    </button>
  </div>
</nav>

<h1></h1>
{% block letter %}
{% endblock letter %}
{% endblock content %}