{% extends 'forside/base.html' %}
{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\image\logo.png" class="d-block w-100" alt="..." style=width="100" height="160">
    </div>
    <div class="carousel-item">
      <img src="\image\læse.png" class="d-block w-100" alt="..."style=width="100" height="160">
    </div>
    <div class="carousel-item">
      <img src="\image\ord.png" class="d-block w-100" alt="..."style=width="100" height="160">
    </div>
    <div class="carousel-item">
      <img src="\image\skrive.png" class="d-block w-100" alt="..."style=width="100" height="160">
    </div>
    <!--<div class="carousel-item">
      <img src="\image\fantasi.png" class="d-block w-100" alt="..."style=width="100" height="160">
    </div>-->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<h1><b><i><font color=green>Lær at sige ord</font><br>
    <font color=blue>sammen med far og mor</font><br>
    <font color=red>Kan du lide at lege</font><br>
    <font color= purple>Er du en af de seje</font></i></b></h1>
    <br>
{% endblock content %}